:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #cce6ff;
    --secondary-color: #4da6ff;
    --tertiary-color: #0039e6;
    --error-color: #ff3377;
}

.background {
    background-color: #f2f2f2;
    margin: 0;
    counter-reset: section;
    font-family: "Arial Narrow",Arial,sans-serif;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0px 20px;
}

.button {
  background-color: var(--tertiary-color);
  border: none;
  color: var(--secondary-color);
  padding: 6px 8px 4px 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.navbar {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 0px;
    padding: 5px 210px;
}

.footer {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 0px;
      padding: 5px 350px;
}

.error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 8px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    font-size: 12px;
    margin: 0 10px;
    padding: 4px 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    border-radius: 16px;
}

.center {
  text-align: center;
}

.square {
  width: 30%;
  height: 0;
  padding-top: 30%;
}

.circular_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  /* commented for demo
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  */

  /*for demo*/
  display:inline-block;
  vertical-align:middle;
}

/*
Flexbox on a lists removes the numbers. We use a counter here to add them back.
https://stackoverflow.com/a/34316093
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
*/
.song:before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    margin-left: -40px;
}

.hidden {
    display: none;
}

/* table styles */

th, td {
    padding: 15px;
    text-align: left;
}

th {
    border-bottom: 1px solid var(--primary-color);
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}